<div class="container">
  <div class="row">
    <div class="col-sm">
       <h2>{{toy.name}}</h2>
            <img src="{{toy.image}}"></img>
            <p>{{toy.description}}</p>
    </div>
  </div>
</div>